header {
	width: 100%;
}
.App {
	text-align: center;
	min-height: 100vh;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	/* font-size: calc(7px + 2vmin); */
	font-size: 20px;
	background-color: #faf3d1;
	color: hsl(32deg 33% 33%);

	font-family: Chicle;
}

p {
	margin: 2px;
}

@import url('https://fonts.googleapis.com/css2?family=Chicle&display=swap');

@media only screen and (max-width: 600px) {
	.App {
		font-size: 16px;
	}
}
