*,
*::before,
*::after {
	box-sizing: border-box;
}

body {
	margin: 0;
	font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans',
		'Droid Sans', 'Helvetica Neue', sans-serif;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

code {
	font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}

.pagination {
	display: flex;
	justify-content: center;
	/* margin-right: 30px; */
}

.pagination ul {
	display: flex;
	list-style: none;
	cursor: pointer;
	justify-content: space-around;
	flex-direction: row;
	width: 50%;
	padding-left: 0;
}

.page-active {
	color: #faf3d1;
	background: #816541;
	border-radius: 0.75rem;
	padding: 0 5px 0 5px;
}

.page-active a:focus {
	outline: none !important;
}
